@model memeCoinWebApp.Models.Fund

@{
    ViewData["Title"] = "TransferMoney";
}

<h2 class="text-end">واریز به حساب دیگر</h2>
<h3 class="text-end">موجودی فعلی:</h3>
<div>@Html.DisplayFor(model => model.Amount, new { htmlAttributes = new { @class = "h4" } }) </div>

<form asp-action="TransferMoney" method="post" class="bg-info p-2 w-50 text-end">
    <input type="hidden" name="SrcPhoneNumber" value="@Model.User.PhoneNumber"/>
    
    <div class="text-end form-group m-3">
        <label for="formGroupExampleInput">شماره حساب مقصد:</label>
        <input type="text" class="form-control text-end" id="formGroupExampleInput" placeholder="شماره موبایل ۱۱ رقمی">
    </div>
    <div class="text-end form-group m-3">
        <label for="DestPhoneNumber">مبلغ واریزی:</label>
        <input type="text" class="form-control text-end" id="DestPhoneNumber" name="DestPhoneNumber" placeholder="مبلغ به ریال">
    </div>
    <button type="submit" class="btn btn-primary"> اعمال</button>
    <button type="button" class="btn btn-primary">بازگشت</button>
</form>
