@model List<memeCoinWebApp.Models.Transfer>

@{
    ViewData["Title"] = "Transaction List";
}

<h2 class="text-end">لیست تراکنش‌ها</h2>

<form class="bg-info p-2 w-50 text-end" asp-action="ُTransactionList" method="post">
    <div class="text-end form-group m-3">
        <label for="sdate">شروع تاریخ:</label>
        <input type="text" class="form-control text-end" id="sdate" name="sdate" required>
    </div>
    <div class="text-end form-group m-3">
        <label for="edate">پایان تاریخ:</label>
        <input type="text" class="form-control text-end" id="edate" name="edate" required>
    </div>
    <div class="text-end form-group m-3">
        <label for="sfee">شروع مبلغ:</label>
        <input type="text" class="form-control text-end" id="sfee" name="sfee" required>
    </div>
    <div class="text-end form-group m-3">
        <label for="efee">پایان مبلغ:</label>
        <input type="text" class="form-control text-end" id="efee" name="efee" required>
    <div class="text-end form-group m-3">
        <label for="rname">نام دریافت کننده:</label>
        <input type="text" class="form-control text-end" id="rname" name="rname" required>
    </div>
    <div class="text-end form-group m-3">
        <label for="sname">نام ارسال کننده:</label>
        <input type="text" class="form-control text-end" id="snmae" name="sname" required>
    </div>
    </div>
    <button type="button" class="btn btn-primary"> اعمال</button>
    <button type="button" class="btn btn-primary">بازگشت</button>
</form>

<!-- نتیجه رو میتونیم ببریم یک صفحه دیگه -->
<table class="table">
    <thead>
        <tr>
            <th>فرستنده</th>
            <th>گیرنده</th>
            <th>مبلغ</th>
            <th>زمان</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Source</td>
                <td>@transaction.Destination</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Timestamp</td>
            </tr>
        }
    </tbody>
</table>


