@model IEnumerable<memeCoinWebApp.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Your chats</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                Unread message(s)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
        @if (!item.Seen)
        {
            <td class="text-danger">
                *
            </td>
        }
        else
        {
            <td></td>
        }
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Open chat</a>
            </td>
        </tr>
}
    </tbody>
</table>
